{% extends "cms/cms_base.html" %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


{% block content %}
    <br>
    <br>
    <a href="{% url 'page_edit' %}">
        <button type="button" class="btn btn-info pull-right">添加</button>
    </a>
    <br>
    <table class="table table-hover table-bordered">
        <!--标题部分-->
        <thead>
        <tr>
            {% for foo in index_thead %}

                <th style="width: 250px">{{ foo }}</th>

            {% endfor %}
            <th>操作</th>
        </tr>
        </thead>
        <!--内容部分-->
        <tbody>
        {% for index in index_obj %}
            <tr>
                <td>{{ index.url }}</td>
                <td>{{ index.title }}</td>
                <td>{{ index.header_title }}</td>
                <td>{{ index.header_subtitle }}</td>
                <td><img src="{{ index.header_img.url }}" alt="" style="width: 100%"></td>
                <td>
                    {% if index.is_show %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'page_edit' %}?opt=index&id={{ index.id }}">
                        <button type="button" class="btn btn-primary">编辑</button>
                    </a>
                    <button type="button" class="btn btn-danger" name="{{ index.id }}">删除</button>


                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

{% endblock %}

</body>

{% block script %}
    <script>
        $(".btn-danger").click(function (event) {
            {#console.log(event.target.id);#}
            var thisE = $(event.currentTarget).parent().parent();//获取该行对象
            $.ajax({
                url: "",
                type: "POST",
                data: {
                    "id": event.target.name,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",

                },
                success: function (data) {
                    if (data.status === 200) {
                        thisE.fadeOut();
                    }
                }
            })
        })

    </script>
{% endblock %}

</html>