{% extends "cms/cms_base.html" %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <!-- 页眉 -->
            <div class="page-header">
                <h1>添加封面</h1>
            </div>
            <form action="" novalidate>
                {% for foo in index_form %}

                    <div class="form-group">
                        <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                        {{ foo }}
                    </div>
                {% endfor %}
                <button type="button" class="btn btn-primary" id="index_submit">提交</button>
            </form>
        </div>

        <div class="col-md-6">
            <!-- 导航 -->
            <div class="page-header">
                <h1>添加导航</h1>
            </div>
            <form action="" novalidate>
                {% for foo in nav_form %}

                    <div class="form-group">
                        <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                        {{ foo }}
                    </div>
                {% endfor %}
                <button type="button" class="btn btn-primary" id="nav_submit">提交</button>
            </form>

            <!-- 分割 -->
            <div class="page-header">
                <h1>添加页脚</h1>
            </div>
            <form action="" novalidate>
                {% for foo in footer_form %}

                    <div class="form-group">
                        <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                        {{ foo }}
                    </div>
                {% endfor %}
                <button type="button" class="btn btn-primary" id="footer_submit">提交</button>
            </form>
        </div>
    </div>




{% endblock %}

</body>

{% block script %}
    <script>
        $("#index_submit").click(function () {
            var formdata = new FormData();
            formdata.append("opt", "index");
            formdata.append("url", $("#index_url").val());
            formdata.append("title", $("#index_title").val());
            formdata.append("header_title", $("#index_header_title").val());
            formdata.append("header_subtitle", $("#index_header_subtitle").val());
            formdata.append("is_show", $("#index_is_show").prop("checked"));
            formdata.append("csrfmiddlewaretoken", '{{ csrf_token }}');
            formdata.append("header_img", $("#id_header_img")[0].files[0]);
            $.ajax({
                url: "",
                type: "POST",
                data: formdata,        // 将添加好数据的formdata放到data这里
                processData: false,    // 不处理数据
                contentType: false,    // 不设置内容类型

                success: function (data) {
                    if (data.status === 200) {
                        location.href = data.path
                    } else {
                        console.log(data.status);
                    }

                }
            })
        });
        $("#nav_submit").click(function () {
            $.ajax({
                url: "",
                type: "POST",
                data: {
                    "opt": "nav",
                    "href": $("#nav_href").val(),
                    "title": $("#nav_title").val(),
                    "is_show": $("#nav_is_show").prop("checked"),
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                },
                success: function (data) {
                    if (data.status === 200) {
                        location.href = data.path
                    } else {
                        console.log(data.status);
                    }

                }
            })
        });
         $("#footer_submit").click(function () {
            $.ajax({
                url: "",
                type: "POST",
                data: {
                    "opt": "footer",
                    "href": $("#footer_href").val(),
                    "fa": $("#footer_fa").val(),
                    "is_show": $("#footer_is_show").prop("checked"),
                    "csrfmiddlewaretoken": '{{ csrf_token }}',
                },
                success: function (data) {
                    if (data.status === 200) {
                        location.href = data.path
                    } else {
                        console.log(data.status);
                    }

                }
            })
        });

    </script>
{% endblock %}

</html>