{% extends "blog/base.html" %}
{% load static %}


{% block css %}
<link href="{% static 'css/md_default.css' %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
 <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ content_img.url }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ title }}</h1>
            <h2 class="subheading">{{ subtitle }}</h2>
            <span class="meta">Posted by
              <a href="{{ href }}">{{ name }}</a>
              on {{ date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock %}

{% block main_content %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style='font-family: "Roboto","Helvetica","Arial",sans-serif'>
    <h2 id="index">index表</h2>
<p>title -- 网页的title标签</p>
<p>header_title -- header标题</p>
<p>header_subtitle  -- header副标题</p>
<p>header_img  -- header图片</p>
<p>url -- 判断是哪个页面</p>
<h2 id="navigation">navigation 表</h2>
<p>href -- 链接</p>
<p>title -- 标题</p>
<h2 id="footer">footer 表</h2>
<p>href -- 链接</p>
<p>fa -- 图标</p>
<h2 id="content">content表</h2>
<p>title -- 标题</p>
<p>subtitle -- 副标题</p>
<p>content -- 存md路径,暂定</p>
<p>data -- 日期,最后修改时间</p>
<div class="codehilite"><pre><span></span><span class="k">def</span> <span class="nf">aa</span><span class="p">():</span>
    <span class="k">pass</span>
<span class="k">print</span><span class="p">(</span><span class="s2">&quot;111&quot;</span><span class="p">)</span>
</pre></div></div>
      </div>
    </div>
  </article>
{% endblock %}